{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}
{% block contact %}

<!-- Contact -->
<section id="contact" class="text-center py-5">
    <div class="container py-5">
      <div class="row justify-content-center">
        <h2 class="fw-bold">Contact</h2>
        <p class="lead text-muted mb-5">
          Do you need a full-stack web developer? I would love to hear
          from you.
        </p>
      </div>
    </div>
    <div class="container mb-5">
      <div class="row justify-content-center">
        <div class="container">
          <div class="row my-3">
              <div class="col-sm-6 offset-sm-3">
                  <form action="{% url 'contact' %}" method="POST" nonvalidate class="shadow p-5">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="name" name="name" class="form-control" id="name" value="{{form.name}}" required>
                      </div>
                      <div class="form-group">
                        <label for="email">Email address: </label>
                        <input type="email" name="email" class="form-control" id="email" value="{{form.email}}" required>
                      </div>
                      <div class="form-group">
                        <label for="message">Message: </label>
                        <textarea type="text" name="message" class="form-control"  id="message">{{form.message}}</textarea>
                      </div><br>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form><br><br>
              </div>
          </div>
      </div>
        <div class="col-lg-8 col-xl-7 col-xxl-6 mb-5">
          <div class="mb-5 text-center">
            <h6 class="text-uppercase mb-2">Address</h6>
            <p class="lead mb-0">Ekiti, Nigeria</p>
          </div>
          <div class="mb-5 text-center">
            <h6 class="text-uppercase mb-2">Phone</h6>
            <p class="lead mb-0">(+234)-902-816-8649</p>
          </div>
          <div class="mb-5 text-center">
            <h6 class="text-uppercase mb-2">Email</h6>
            <p class="lead mb-0">tomiwadesignandtech00@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->

{% endblock contact %}